<div class="new-comment card-text mt-4 pb-5">
  <%= form_with model: [post_plant, comment] do |f| %>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">コメントする</label>
      <%= f.text_area :comment, rows: '8', class: "form-control", placeholder: "コメントをここに" %>
    </div>
    <%= f.submit "送信する" %>
  <% end %>
</div>