<div class="container mt-4">
  <div class="m-auto col-8">
    <h4 class="ml-5">検索結果</h4>
    <% if @records.exists? %>
      <% if @search %>
        <p class="ml-5">検索ワード：<%= @search %></hp>
        <% @records.each do |plant| %>
          <%= render 'public/post_plants/index', post_plants: plant.post_plants %>
        <% end %>
      <% else %>
      <p class="ml-5">検索タグ：<%= @tags %></p>
        <% @records.each do |tag| %>
          <%= render 'public/post_plants/index', post_plants: tag.post_plants %>
        <% end %>
      <% end %>
    <% else %>
      <p>見つかりませんでした。検索条件を変更して再度お試しください。</p>
  <% end %>
  </div>
</div>
