<h2>検索結果</h2>

<% if @records.exists? %>
  <h3>検索ワード：<%= @search %></h3>
  <% @records.each do |plant| %>
    <%= render 'public/post_plants/index', post_plants: plant.post_plants %>
  <% end %>

  <h3>検索タグ：<%= @tags %></h3>
  <% @records.each do |tag| %>
    <%= render 'public/post_plants/index', post_plants: tag.post_plants %>
  <% end %>

<% else %>
  <h3>見つかりませんでした。検索条件を変更して再度お試しください。</h3>
<% end %>
