<% if flash[:notice] %>
  <div class="notification bg-primary">
    <p class="notice text-center text-light py-3"><%= notice %></p>
  </div>
<% end %>
    <div class="container">
      <div class="text-center">
        <p>
          <strong style="font-family: cursive;"><h1>Succulent</h1></strong>
        </p>
      </div>
      <div class="mx-auto col-4">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-warning btn-lg btn-block mt-5" %>
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning btn-lg btn-block mt-1" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning btn-block btn-lg mt-1" %>
      </div>
    </div>
