<h2>会員一覧</h2>

<table class="admin_customer_index has_border">
	<thead>
		<th>会員ID</th>
		<th>名前</th>
		<th>メールアドレス</th>
		<th>会員ステータス</th>
		<th></th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= link_to user.name, admin_user_path(user) %></td>
				<td><%= user.email %></td>
				<td>
					<% if user.is_active? %>
						<span class="text-active">有効</span>
					<% else %>
						<span class="text-invalid">退会済み</span>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>


