<section class="inner">
  <h2 class="text-center my-5">本当に退会しますか？</h2>
	<h3 class="text-center">退会すると、会員登録情報が使用できなくなります。<br>退会する場合は、「退会する」をクリックしてください。</h3>
	<div class="d-flex justify-content-center mt-4">
		<%= link_to "マイページ", user_path(current_user), class: "btn btn-primary mr-2" %>
		<%= link_to "退会する", users_withdraw_path, method: :patch, "data-confirm" => "OKを押すと退会処理がされます。本当によろしいですか？", class: "btn btn-danger ml-2" %>
	</div>
</section>